* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
}

body {
  background-image: url("./Images/canopy-1.png");
  background-size: cover;
  background-attachment: fixed;
  font-family: "Raleway", sans-serif;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fab {
  font-size: 1.8em;
  padding-left: 0.9em;
  color: #161a1d;
}

.rightNav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.rightNav__item {
  color: #161a1d;
  text-decoration: none;
  font-weight: 500;
  padding: 1em;
}

.welcome {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 7em;
}

.welcome__title {
  font-size: 35px;
  line-height: 50px;
  font-weight: 500;
  color: #161a1d;
}

.welcome__link {
  line-height: 50px;
  text-decoration: none;
  color: #161a1d;
  font-weight: 500;
}

.about__title,
.contact__title,
.portfolio__title {
  color: #161a1d;
  font-weight: 500;
  font-size: 35px;
  margin-top: 0.5em;
  margin-bottom: 1em;
  text-align: center;
}

.portfolioCard__container {
  background-color: rgba(255, 255, 255, 0.6);
  width: 85%;
  border-radius: 20px;
  margin: auto;
  padding: 1em;
  display: flex;
  margin-bottom: 1.5em;
}

.portfolioCard__img {
  border: 1px solid #161a1d;
  border-radius: 4px;
  width: 30%;
  align-self: center;
  margin-right: 1em;
}

.portfolioCard__infoContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.portfolioCard__title {
  font-size: 1.3em;
  font-weight: 500;
  margin-bottom: 0.8em;
  color: #161a1d;
  text-decoration: none;
}

a:visited {
  color: #161a1d;
}

a:hover {
  color: #a52a2a;
}

.portfolioCard__description {
  font-size: 1em;
  line-height: 1.3em;
  font-weight: 400;
  margin-bottom: 0.8em;
  color: #161a1d;
}

.portfolioCard__tech {
  display: flex;
  font-size: 1em;
  margin-bottom: 0.5em;
  color: #161a1d;
}

.portfolioCard__tech__heading {
  font-weight: 500;
  margin-right: 0.5em;
}

.portfolioCard__links {
  display: flex;
  justify-content: center;
}

.portfolioCard__links__item {
  font-size: 0.9em;
  margin-left: 1.5em;
  margin-right: 1.5em;
  margin-top: 1em;
  color: #161a1d;
  font-weight: 500;
}

.about__container {
  background-color: rgba(255, 255, 255, 0.6);
  width: 65%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 1em;
}

.about__topContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about__topContent__container {
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
}

.about__topContent__title {
  color: #161a1d;
  font-weight: 500;
  font-size: 22px;
  margin-bottom: 1em;
}

.about__topContent__list {
  margin-left: 2em;
}

.about__topContent__list__item {
  margin-bottom: 0.5em;
}

.about__topContent__img {
  max-width: 300px;
  max-height: 280px;
  border-radius: 140px;
}

.about__bottomContent {
  margin-top: 1.5em;
  font-size: 1em;
  line-height: 1.4em;
  text-align: center;
}

.contact__form {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin: auto;
}

.contact__confirmation {
  text-align: center;
  font-weight: 500;
  font-style: italic;
}

.contact__form__label {
  margin-bottom: 0.3em;
  margin-top: 1em;
  color: #161a1d;
  font-weight: 500;
}

.contact__form__input {
  border: 1px solid #161a1d;
  border-radius: 6px;
  padding: 0.4em 0.5em;
  outline: none;
  background-color: #f0f8ff;
}

.contact__form__input:focus {
  border: 1.3px solid #161a1d;
}

.contact__form__input__textarea {
  border: 1px solid #161a1d;
  border-radius: 6px;
  padding: 0.4em 0.5em;
  outline: none;
  height: 160px;
  background-color: #f0f8ff;
}

.contact__form__input__textarea:focus {
  border: 1.3px solid #161a1d;
}

.contact__form__button {
  width: 40%;
  align-self: center;
  margin-top: 1em;
  border: 1px solid #161a1d;
  border-radius: 6px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  outline: none;
  background-color: #dee9fb;
}

.contact__form__button:focus {
  border: 1.3px solid #161a1d;
}

.linkedin {
  width: 80%;
  margin: auto;
  border: 1px solid #161a1d;
  border-radius: 6px;
}

@media only screen and (max-width: 850px) {
  .navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .leftNav {
    margin-top: 0.5em;
    display: flex;
  }

  .leftNav__item {
    margin-left: 0.8em;
    margin-right: 0.8em;
  }

  .fab {
    font-size: 1.4em;
    padding-left: 0;
  }

  .rightNav {
    font-size: 0.9em;
    justify-content: center;
  }

  .welcome__title {
    font-size: 2.2em;
    margin-left: 0.5em;
    margin-right: 0.5em;
  }

  .portfolioCard__container {
    flex-direction: column;
  }

  .portfolioCard__img {
    width: 90%;
    margin: auto;
    margin-bottom: 0.5em;
  }

  .portfolioCard__top {
    display: flex;
    flex-direction: column;
  }

  .portfolioCard__title {
    font-size: 1.1em;
    text-align: center;
  }

  .portfolioCard__description {
    text-align: center;
  }

  .portfolioCard__tech {
    flex-direction: column;
    text-align: center;
  }

  .about__topContent {
    flex-direction: column;
  }

  .about__topContent__title {
    text-align: center;
  }

  .about__topContent__list {
    margin-left: 0;
    list-style: none;
    text-align: center;
  }

  .about__topContent__list__item {
    margin-bottom: 0.7em;
  }

  .about__topContent__img_container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .about__topContent__img {
    margin-top: 0.4em;
  }

  .about__bottomContent {
    text-align: center;
  }

  .contact__form {
    width: 70%;
  }
}
